.home-main-section {
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
    vertical-align: center;
}

.title {
    vertical-align: center;
    margin-bottom: 2.5rem;
}

.main-container {
    margin-top: 12rem;
}

.home-page-circle-1 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #4FB286;
    opacity: 10%;
    top: 5vw;
    left: -15vw;
}

.home-page-circle-2 {
    position: absolute;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    background-color: #3C896D;
    opacity: 13%;
    bottom: 5vw;
    left: 13vw;
}

.home-page-circle-3 {
    position: absolute;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    background-color: #4FB286;
    opacity: 10%;
    top: 15vw;
    right: 7.5vw;
}

.home-page-circle-4 {
    position: absolute;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background-color: #50FFB1;
    opacity: 7%;
    bottom: -12vw;
    right: -5.5vw;
}