{% extends 'base.html' %} {% block styles %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} {% block title %}Login{% endblock %} {% block content %}

<div class="main-container">
    <div class="title">
        all your listens this month.
        <br />
        all in one place.
    </div>
    <a href="/spotify-login" class="btn">start tracking</a>
</div>
<div class="login-page-circle-1"></div>
<div class="login-page-circle-2"></div>
<div class="login-page-circle-3"></div>
<div class="login-page-circle-4"></div>

{% endblock %}
