<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
        {% block styles %}{% endblock %}
        <title>{% block title %}monthlyWrapped{% endblock %}</title>
    </head>
    <body class="container full-height-grow">
        <header class="main-header">
            <a href="/" class="brand-logo">
                <img
                    src="{{ url_for('static', filename='images/temp_logo.png') }}"
                    alt="logo"
                    height="40"
                />
                <div class="brand-logo-name">monthlyWrapped</div>
            </a>
            <nav class="main-nav">
                <ul>
                    <li><a href="/about">about</a></li>
                    {% if 'access_token' in session %}
                    <li><a href="/">home</a></li>
                    <li><a href="/tracks">tracks</a></li>
                    <li><a href="/logout">logout</a></li>
                    {% else %}
                    <li><a href="/spotify-login">login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
