{% extends 'base.html' %} {% block styles %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block title %}Login{% endblock %} {% block content %}
<div class="main-container">
    <div class="greeting">hi there, {{user.display_name}}!</div>
    <div class="main-text-container">
        <div class="minor-text">this month, you've listened to</div>
        <div class="major-text">{{user.get_total_track_count()}} tracks</div>
        <div class="minor-text">a combined</div>
        <div class="major-text">{{user.get_total_listen_count()}} times</div>
        <div class="minor-text">for a total of</div>
        <div class="major-text">
            {{user.get_total_time_listened()['hours']}} hours,
            {{user.get_total_time_listened()['minutes']}} minutes,
            {{user.get_total_time_listened()['seconds']}} seconds
        </div>
    </div>
    <div class="bottom-text">see how your listening time is split up</div>

    <div class="arrow">
        <a href="/tracks"
            ><img src="../static/images/white-arrow.png" height="15"
        /></a>
    </div>
</div>
{% endblock %}
