@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

.main-container {
    text-align: center;
}

.greeting {
    font-size: 3.75rem;
    font-weight: 300;
    margin-top: 1.25rem;
}

.minor-text {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.major-text {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.main-text-container {
    margin-top: 2.6rem;
    margin-bottom: 4rem;
}

.bottom-text {
    font-size: 1rem;
}

.arrow {
    margin-top: 0.6rem;
}
