.title {
    vertical-align: center;
    margin-bottom: 2.5rem;
    font-weight: 300;
}

.main-container {
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
    vertical-align: center;
    margin-top: 12rem;
}

.login-page-circle-1 {
    position: absolute;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    background-color: #4fb286;
    opacity: 10%;
    top: 3vw;
    left: -9vw;
}

.login-page-circle-2 {
    position: absolute;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    background-color: #3c896d;
    opacity: 13%;
    bottom: 5vw;
    left: 13vw;
}

.login-page-circle-3 {
    position: absolute;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    background-color: #4fb286;
    opacity: 10%;
    top: 10vw;
    right: 7.5vw;
}

.login-page-circle-4 {
    position: absolute;
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background-color: #50ffb1;
    opacity: 7%;
    bottom: -12vw;
    right: -5.5vw;
}

.login-btn {
    color: white;
    background-color: #3c896d;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-family: Nunito, sans-serif;
    border-style: none;
    font-size: 1rem;
}

.login-btn a:hover {
    color: #adadad;
}
